.login-page-container {
    --login-top-padding: 100px;
    --login-card-max-width: 500px;
}

.login-page-row {
    margin-left: auto;
    margin-right: auto;
    padding-top: var(--login-top-padding);
    max-width: var(--login-card-max-width);
}

.login-page-card {
    
}

.login-logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80vw;
    max-width: 300px;
    padding-top: 50px;
}

.login-container {

}

.login-input {
    margin-left: auto;
    margin-right: auto;
    width: var(--button-width);
    max-width: var(--button-max-width);
    height: var(--button-height);
}

.login-last-element {
    padding-bottom: 20px;
    width: var(--button-width);
    max-width: var(--button-max-width);
    margin-left: auto;
    margin-right: auto;
}

