.profile-container {
    margin-top: 20px;
}

.profile-row {

}

.profile-col {
    margin-left: auto;
    margin-right: auto;
    
}

.profile-title {
    font-size: 6em;
}

.username-container {
    flex-flow: row;
}

.profile-input {
    margin-left: auto;
    margin-right: auto;
    width: var(--button-width);
    max-width: var(--button-max-width);
    height: var(--button-height);
}