.register-container {
    --register-top-padding: 30px;
    --register-input-border-radius: 15px;
}

.register-row {
    margin-left: auto;
    margin-right: auto;
    padding-top: var(--register-top-padding);
    max-width: 700px;
}

.register-title {
    font-size: 4em;
}

.register-top-btn-container {
    margin-top: -16px;
}

.register-hr {
    background: var(--purple);
    background-image: linear-gradient(to right, #ccc, var(--black), #ccc);
}

.register-btn {
    width: 100%;
}

.register-form-container {

}

.register-form-row {

}

.register-input-container {
    padding-bottom: 10px;
}

.register-input-label {
    color: var(--purple);
    font-weight: 500;
    padding-left: 0.5em;
    transition: color 200ms ease-in-out;
}

.register-input {
    border-radius: var(--register-input-border-radius);
}

.register-alert-message {
    width: 100%;
}

.register-bottom-btn-container {
    margin-top: -16px;
    padding-top: 0.1em;
    padding-bottom: 15px;
}